:root {
  --color-active: brown;
  --my-width: 20px;
}

.app-header {
  background-color: #ccd1dc;
}

.app-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
}

.app-link {
  color: #5b98a9;
  /*color: var(--color-active);*/
  text-decoration: none;
}

.active-link {
  font-weight: 700;
  color: black;
  text-decoration: none;
}
